RewriteEngine On

RewriteRule "index.html" "index.php"
RewriteRule "gioithieu.html" "gioithieu.php"
RewriteRule "sanpham.html" "sanpham.php"
RewriteRule "water.html" "water.php"
RewriteRule "giohang.html" "giohang.php"
RewriteRule "login.html" "login.php"
RewriteRule "dangky.html" "dangky.php"
RewriteRule "profile.html" "profile.php"
RewriteRule "offline.html" "offline.php"
RewriteRule "order.html" "order.php"
RewriteRule "restore.html" "restore.php"
RewriteRule "restorepass.html" "restorepass.php"
RewriteRule "success.html" "success.php"
RewriteRule "donhang.html" "donhang.php"
RewriteRule "lienhe.html" "lienhe.php"
RewriteRule "timkiem.html" "timkiem.php"
RewriteRule "tintucsukien.html" "tintucsukien.php"

RewriteRule "gioithieusalanest.html" "gioithieusalanest.php"
RewriteRule "^bai-viet/trang([0-9]+).html$" "tintucsukien.php?trang=$1"
RewriteRule "^san-pham-theo-danh-muc/([0-9]+).html$" "productbycat.php?catid=$1"
RewriteRule "^nuoc-giai-khat/([0-9]+).html$" "waterbycat.php?waterid=$1"
RewriteRule "^bai-viet/([0-9]+)-(.*).html$" "baiviet.php?postid=$1"
RewriteRule "^chi-tiet/([0-9]+)/(.*).html$" "chitietsp.php?proid=$1&url=$2"
RewriteRule "^giohang/([0-9]+).html$" "giohang.html?cartid=$1"
RewriteRule "^san-pham-theo-thuong-hieu/([0-9]+)-(.*).html$" "productbybrand.php?brandid=$1&url=$2"
RewriteRule "^san-pham-theo-thuong-hieu/([0-9]+)/([0-9]+)-(.*).html$" "productbybrandlv2.php?brandid=$1&brandidlv2=$2&url=$3"
RewriteRule "^san-pham/trang([0-9]+).html$" "sanpham.php?trang=$1"